.formulario-container {
    display: flex; /* Essa propriedade faz com que o formulário fique em uma linha  */
    gap: 20px; /* Essa propriedade faz com que haja uma espaçamento entre os formulários */
    flex-wrap: wrap; /* Aqui estou quebrando o formulário, para ficar um em cima e outro em baixo */
    justify-content: center;
    margin: 80px 50px; /* Aqui tive que definir as margens laterais porque os formulários estavam ocupando todo o espaço disponível  */

}
.formulario-container .formulario {
    /*max-width: 80%; Aqui eu tive que tirar esse max-width para que o formulário não quebrasse a linha */ 
    background: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    flex: 1; /* Aqui estou atribuindo o tamanho de 50% para cada formulário dentro de um flex */
    padding: 36px 64px;
}
.formulario-container .formulario h2 {
    font-weight: 400;
    font-size: 32px;
}